body {
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 40px;
    color: black;
     text-align: center;
       background-color: orange;
        border-radius: 10px;
        color: black;
}

nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px dashed black;
     text-align: center;
       background-color: orange;
        border-radius: 10px;
        color: black;
    
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 30px;
}
.top{
    color: black;
    text-decoration: none;

}

.gallery {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
     text-align: center;
       background-color: orange;
        border-radius: 10px;
        color: black;
}
.toto{
  
}
.text{
    width: 300px;
     text-align: center;
       background-color: orange;
        border-radius: 10px;
        color: black;
    
}
h3{
   text-align: center;
}
.tttt{
    text-align: center;
}
